name: Run Unit Test via Pytest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Qt dependencies
        run: |
            sudo apt-get update
            sudo apt-get install -y \
              libegl1 \
              libgl1 \
              libopengl0 \
              libxkbcommon0 \
              libxkbcommon-x11-0 \
              libxcb-icccm4 \
              libxcb-image0 \
              libxcb-keysyms1 \
              libxcb-randr0 \
              libxcb-render-util0 \
              libxcb-shape0 \
              libxcb-xfixes0 \
              libxcb-xkb1 \
              libxcb-cursor0 \
              xvfb
      - name: Start virtual display
        run: |
          Xvfb :99 -screen 0 1920x1080x24 &
          echo "DISPLAY=:99" >> $GITHUB_ENV
      - name: Set Qt platform to offscreen
        run: echo "QT_QPA_PLATFORM=offscreen" >> $GITHUB_ENV
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with Ruff
        run: |
          pip install ruff
          ruff  --target-version=py310 .
        continue-on-error: true
      - name: Test with pytest
        run: |
          coverage run --omit="*/__init__.py,*/shibokensupport/*,*/shiboken6/*,*/PySide6/*,*/signature_bootstrap.py" -m pytest -v -s
      - name: Generate Coverage Report
        run: |
          coverage report -m